body {
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin: 0;
    background-color:rgb(13,17,22);
    color: rgb(230, 238, 250);
    padding-top: 40px;
}


.header {
    height: 74px;
    display: flex;
    flex-direction: row;
    background-color:rgb(13,17,22);
    position: fixed;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.12);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.left-section{
    
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.vs-name{
    font-size: 20px;
    font-weight: 600;
    color: rgb(230, 238, 250);
    cursor: pointer;
}


.vs-logo{
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.middle-section{
    
    margin-left: 25px;
    margin-right: 300px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    
}

.docs-button, .updates-button, .blog-button,
.api-button, .extensions-button, .mcp-button, .faq-button{
    font-size: 17px;
    font-weight: 500;
    color: rgb(155, 163, 180);
    cursor: pointer;
}

.right-section{
    
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar{
    border: none;
    background-color: black;
    color: rgb(155, 163, 180);
    height: 35px;
    width: 145px;
    padding-left: 30px;
    border: 1px;
    border-style: solid;
    border-color: rgb(75, 79, 90);
    border-radius: 5px;
}

.search-bar::placeholder{
    color:rgb(155, 163, 180);
    font-size: 15px;
}
.search-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon{
    background-color: black;
    height: 16px;
    position: absolute;
    left: 7px;
}

.download-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.download-button{
    background-color: rgb(0, 120, 212);
    color: rgb(230, 238, 250);
    font-size: 16px;
    font-weight: 700;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    margin-left: 12px;
    border-radius: 4px;
    cursor: pointer;

}

.heading{
    font-size: 74px;
    color: rgb(230, 238, 250);
    font-weight: 700;
    letter-spacing: -0.8px;
    width: 600px;
    text-align: center;
    margin-bottom: 0px;    
}

.landing-page-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.download-centre-wrapper{
    margin-top: 30px;
    height: 150px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background-color: rgb(28,33,40);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.download-macos{
   
    background-color: rgb(231,238,251);
    color: black;
    font-size: 18px;
    font-weight: 590;
    margin-top: 5px;
    border: none;
    margin-left: 15px;
    width: 350px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    cursor: pointer;
    
}
.apple-logo{
    height: 22px;
    display: block;
    transform: translateY(-3px);
    
    
}
.web-insiders{
    font-size: 12px;
    color: rgb(231,238,251);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
.license{
    font-size: 11px;
    color: rgb(231,238,251);
    text-align: center;
    margin-top: 14px;
}
.landing-page-image{
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.landing-code-image{
    display: block;
}
.three-code-images{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 45px;
}
.ai-feature-image{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.agent-mode-section{
    display: block;
}
.agent-mode-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-direction: row;
}
.agent-mode-left{
    display: flex;
    width: 360px;
    flex-direction: column;
   
}
.agent-mode-right{
    width: 815px;

}
.agent-mode-title{
    font-size: 30px;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: rgb(230, 238, 250);
    margin-bottom: 0px;
}
.agent-mode-para{
    line-height: 25px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0px;
    color: rgb(159, 177, 209);
}
.agent-mode-link{
    font-size: 16px;
    font-weight: 500;
}

.next-edit-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-direction: row;
}
.next-edit-left{
    display: flex;
    width: 360px;
    flex-direction: column;
   
}
.next-edit-right{
    width: 815px;

}
.next-edit-title{
    font-size: 30px;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: rgb(230, 238, 250);
    margin-bottom: 0px;
}
.next-edit-para{
    line-height: 25px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0px;
    color: rgb(159, 177, 209);
}
.next-edit-link{
    font-size: 16px;
    font-weight: 500;
}
.extension-right{
    display: block;
}
.extension-right{
    position: relative;
}
.extension-right::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:400px;

    background:linear-gradient(
        to bottom,
        rgba(13,17,22,0),
        rgba(13,17,22,0.9)
    );

    pointer-events:none;
}
.extension-container{
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: center;
    margin-top: 90px;
    align-items: center;
}
.extension-left{
    
    width: 360px;
    margin-right: 80px;
}
.extension-title{
    color: rgb(195, 208, 229);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 45px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.extension-para{
    color: rgb(159, 177, 209);
    font-size: 16px;
    line-height: 25px;
    font-weight: 500px;
    width: 360px;

}
.extension-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:16px;
    row-gap: 16px;
    height: fit-content;
    align-items: stretch;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 793px;
}

.python-container{
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);

}
.python-img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.python-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}
.python-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    margin-top: 2px;
    cursor: pointer;
}
.python-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.stripe-container{
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);
}
.stripe-img{
        height: 40px;
        width: 40px;
        cursor: pointer;
        border-radius: 4px;
}
.stripe-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.stripe-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    margin-top: 2px;
    cursor: pointer;
}
.stripe-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.c-container{
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);
}
.c-img{
        height: 40px;
        width: 40px;
        cursor: pointer;
}
.c-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.c-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    margin-top: 2px;
    cursor: pointer;
}
.c-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.jupyter-container{
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);
}
.jupyter-img{
        height: 40px;
        width: 40px;
        cursor: pointer;
        border-radius: 4px;
}
.jupyter-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.jupyter-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    margin-top: 2px;
    cursor: pointer;
}
.jupyter-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.gitlens-container{
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);
}
.gitlens-img{
        height: 40px;
        width: 40px;
        cursor: pointer;
}
.gitlens-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gitlens-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    margin-top: 2px;
    cursor: pointer;
}
.gitlens-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.devkit-container{
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);
}
.devkit-img{
        height: 40px;
        width: 40px;
        cursor: pointer;
}
.devkit-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.devkit-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    margin-top: 2px;
    cursor: pointer;
}
.devkit-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.mongodb-container{
    display: flex;
    flex-direction: row;
    height: 74.5%;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);
}
.mongodb-img{
        height: 40px;
        width: 40px;
        cursor: pointer;
}
.mongodb-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mongodb-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    margin-top: 2px;
    cursor: pointer;
}
.mongodb-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.github-pilot-container{
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);
}
.github-pilot-img{
        height: 40px;
        width: 40px;
        cursor: pointer;
}
.github-pilot-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.github-pilot-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    line-height: 25px;
    width: 120px;
    margin-top: 2px;
    cursor: pointer;
}
.github-pilot-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.remote-development-container{
    display: flex;
    flex-direction: row;
    height: 74.5%;
    background-color:rgba(255, 255, 255, 0.04);
    column-gap: 12px;
    padding: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.12);
}
.remote-development-img{
        height: 40px;
        width: 40px;
        cursor: pointer;
}
.remote-development-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.remote-development-title{
    color: rgb(195, 208, 229);
    font-size: 16px;
    font-weight:600;
    margin-top: 2px;
    cursor: pointer;
}
.remote-development-text{
    color: rgb(159, 177, 209);
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}


.marketplace{
    font-size: 13px;
    font-weight: 500;
    color: rgb(155, 163, 180);  
    width:fit-content;
    margin-left:990px;
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 150px;
}

.language-container{
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: center;
   
}

.language-left{
    width: 360px;
    margin-right: 86px;
}
.language-title{
    letter-spacing: -0.5px;
    color: rgb(195, 208, 229);
    font-size: 30px;
    font-weight: 600px;
}
.language-text{
    margin-top: 20px;
    color: rgb(159, 177, 209);
    font-size:16px;
    font-weight: 500;
    line-height: 25px;
    width: 360px;

}
.language-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 793px;
    height: fit-content;
    column-gap: 35px;
    row-gap: 10px;
}
.js-container, .ts-container, .py-container,
.chash-container, .cpp-container, .html-container,
.java-container, .json-container, .php-container,
.mark-container, .powershell-container, .yaml-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    
}

.js-img, .ts-img, .py-img,
.chash-img, .cpp-img, .html-img,
.java-img, .json-img, .php-img,
.mark-img, .powershell-img, .yaml-img
{
    width: 40px;
    height: 40px;
}

.js-title, .ts-title, .py-title, 
.chash-title, .cpp-title, .html-title,
.java-title, .json-title, .php-title,
.mark-title, .powershell-title, .yaml-title
{
    font-size: 18px;
    font-weight: 400;
    color: rgb(155, 163, 180);
}

.customizable-container{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin-top: 80px;
}
.customizable-left{
    width: 360px;
    margin-right: 80px;
}
.customizable-title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgb(195, 208, 229);
    
}
.customizable-text1{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(159, 177, 209);
    width: 360px;
    margin-top: 20px;
}
.customizable-text2{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(159, 177, 209);
    width: 360px;
    margin-top: 30px;
}
.customizable-text3{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(159, 177, 209);
    width: 360px;
    margin-top: 20px;
}
.customizable-text4{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(159, 177, 209);
    width: 360px;
    margin-top: 20px;
}


.anywhere-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;   
}
.anywhere-left{
    width: 360px;
    margin-right: 80px;
}
.anywhere-title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgb(195, 208, 229);
    
}
.anywhere-text1{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(159, 177, 209);
    width: 360px;
    margin-top: 20px;
}
.anywhere-text2{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(159, 177, 209);
    width: 360px;
    margin-top: 30px;
}
.anywhere-text3{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(159, 177, 209);
    width: 360px;
    margin-top: 20px;
}

.code-rich{
    margin-top: 100px;
    text-align: center;
    color: rgb(195, 208, 229);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.code-rich-wrapper{
    display: flex;
    justify-content: center;
}
.code-rich-text{
    width: 490px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    color: rgb(159, 177, 209);
    margin: 0 auto;
}
.feature-section{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
}
.feature-container{
    display: grid;
    width: 1240px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}
.terminal-container,.run-container,
.version-container,.build-container,
.local-container,.themes-container,
.accessibility-container,.web-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 24px;
    border-style: solid;
    border-width: 1px;
    background-color:rgb(20,26,30);
    border-color: rgb(51,55,59);
    border-radius: 10px;
}
.terminal-img-container,.run-img-container,
.version-img-container,.build-img-container,
.local-img-container,.themes-img-container,
.accessibility-img-container,.web-img-container{
    background-color: rgba(255, 255, 255, 0.07);
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.terminal-img,.run-img,
.version-img,.build-img,
.local-img,.themes-img,
.accessibility-img,.web-img{
    height: 24px;
    width: 24px;
}
.terminal-title,.run-title,
.version-title,.build-title,
.local-title,.themes-title,
.accesibility-title,.web-title{
    font-size: 16px;
    font-weight: 600px;
    color: rgb(195, 208, 229);
}
.terminal-text,.run-text,
.version-text,.build-text,
.local-text,.themes-text,
.accessibility-text,.web-text{
    font-size: 14px;
    font-weight: 500px;
    color: rgb(159, 177, 209);
    line-height: 24px;
    
}
.social-section{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-container{
    display: flex;
    width: 1250px;
    
    padding-right: 10px;
    justify-content: space-between;
}
.social-left{
    display: flex;
    padding-left: 10px;
    justify-content: start;
    gap: 23px;
    align-items: center;
}
.x{
    height: 18px;
    width: 18px;
}
.support-section{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.support-container{
    width: 1240px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.support, .privacy, .terms, .licenses{
    font-size: 12px;
    font-weight: 500;
    color: rgb(159, 177, 209);
}

.owner{
    color:rgb(195, 208, 229);
    font-size: 20px;
    text-align: center;
}